@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
body{
    background: #ddd;
}
.container{
    width: 55%;
    height: 570px;
    background-color: whitesmoke;
    margin: 100px auto;
    /*margin-bottom: 10px;*/
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 70px;
    
}
.container form,
.container .background{
    width: 50%;
    height:100%;
    /* border: 2px solid red; */

}
.container .background{
    background: url('asset/signup.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.container form h2 {
    position: relative; 
    margin-bottom: 30px; 
    color: rgb(30, 135, 176);

}

.container form h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; /* Place the line below the h2 tag */
    width: 15%; /* Set the width to 100% to span the entire h2 */
    height: 5px; /* Define the height of the line */
    background: rgb(30, 135, 176); /* Set the color of the line */
    border-radius: 4px; /* Round the edges of the line */
}

.container form .form-field{
    margin: 40px 0px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    border-bottom: 3px solid rgb(30, 135, 176);
    /* border: 1px solid red; */

}
.container form .form-field i{
    font-size: 20px;
    width: 10%;
    text-align: center;
    color: rgb(30, 135, 176);

}
form .form-field input[type="email"],
form .form-field input[type="text"],
form .form-field input[type="number"],
form .form-field input[type="password"] {
    width: 97%;
    padding: 0px;
    outline: none; /* Removes the default outline */
    border: none;  /* Removes the border */
    background: none; /* Removes the default input background */
    border-bottom: 0px solid rgb(30, 135, 176); /* Optional underline for visual appeal */
    font-size: 16px; /* Adjust font size if needed */
}



.container form .button-field{
    margin-top: 15px;

}
form .button-field input[type="submit"]{
    padding: 15px 30px;
    outline: none;
    background: rgb(30, 135, 176);
    color: white;
    border: 2px solid rgb(30, 135, 176);
    cursor: pointer;
    border-radius: 4px;
    transition: all ease-in 0.4s;

}
form .button-field input[type="submit"]:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.container p{
    margin-top: 20px;
    font-weight: 510px;
}